.view-post-main{
    align-items: center;
}

.view-post-main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width : 80%;
    gap : 10px;
}

.view-post-main label{
    display: flex;
    align-items: center;
}