.login-main{
    align-items: center;
    justify-content: center;
    height : calc(100vh - 40px);
}

.login-main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.login-main form label{
    display: flex;
    align-items: center;
}

.login-main form button{
    grid-column: 1 / -1;
    width : fit-content;
    margin : 0 auto;
}