*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  background-color: #ededed;
}

.app{
  width: 100vw;
  height: 100vh;
  overflow : auto;
  background-color: #ededed;
}

a{
  color: inherit;
  text-decoration: none;
}

.main-component{
  margin : 20px;
  width : calc(100vw - 40px);
}

.main-flex{
  display : flex;
}

.column-flex{
  flex-direction: column;
}

.row-flex{
  flex-direction: row;
}

.main-grid{
  display: grid;
}

button{
  background-color: #55f;
  color : white;
  border: solid 1px #aaa;
  padding : 5px;
  transition: 0.1s;
}

button:not([disabled]):hover{
  transform: scale(1.05);
  transition: 0.2s;
}

button[disabled]{
  opacity : 0.5;
}

input, select{
  padding : 7px;
  width : 200px;
}