header{
    display : flex;
    flex-direction: row;
}

header img{
    width: 200px;
    margin : 15px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right : 10vw;
    gap : 60px;
}

.nav-ele{
    font-size : 22px;
}

/* .nav-ele:hover{
    text-decoration: underline;
    text-decoration-color: red;
} */

.active-page{
    text-decoration: underline;
}